:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d0b6b6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #1e1f26;
  text-decoration: inherit;
}
a:hover {
  color: #595a86;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
body{
  background-image: url(https://i.pinimg.com/originals/f4/2b/70/f42b70d50a13000abc902b8d7e083fe0.jpg);
  orientation: center;
 
}
.choose{
  width: 50%;
  border-radius: 20px;
   border: 20%;
  border-color: #8198ac;
}
/* h3{
  background-color: #3a3c5e79;
} */
.heading{
  background-color: #33366dbe;
width: 50%;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
}
.details{
  border-radius: 20px;
  background-color: #272834bf;
font-size: larger;
}
.roller{
  color: #f9f9f9;
  background-color: #3a3e71ca;
  border-radius: 20px;
  padding: 10px;
}
.chardisplay{
  background-color: #203548d5;
  border-radius: 20px;
  /* padding: 1.5px; */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* tabs */
.tabs:not(:last-child){
  border-right: 1px solid #0c1ea9;
}
.content{
  background-color: #1e1f26;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.active-tabs {
  background-color: #2b2d53;
  border-bottom: 1px solid transparent;
}
.active-content{
  display: inline-block;
}
.active-tabs::before{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background-color: #646cff;
}
.content hr{
  width: 100px;
  height: 2px;
  background: #0c1ea9;
  margin-bottom: 5px;
}